main
    color: #ffffff
    padding: 3rem 0
    border: 10px solid #00349B
    article
      width: 800px
      margin: 0 auto
    img.logo
      display: block
      width: 72px
      height: 98px
      margin: 0 auto 0.75rem
    h1
      text-align: center
      margin: 0
      img
        width: 290px
        height: 100px
    h2
      font-size: 1.25rem
      text-align: center
      color: #ffffff
      margin: 0
    form
      position: relative
      display: flex
      width: 80%
      margin: 3rem auto 5rem
      border-radius: 25px
      overflow: hidden
      input
        width: calc(100% - 8rem)
        padding: 1rem 2rem
        border-bottom-left-radius: 25px
        border-top-left-radius: 25px
        border: none
        background: transparent
      progress
        position: absolute
        top: 0
        left: 0
        border-bottom-left-radius: 25px
        border-top-left-radius: 25px
        border: none
        appearance: none
        width: 100%
        height: 48px
        z-index: -1
        &::-webkit-progress-bar
          background-color: #ffffff

        /* バーの進捗率の表示を変える */
        &::-moz-progress-bar
          background-color: #18D100
        &::-webkit-progress-value
          background-color: #18D100
      button
        width: 14rem
        height: 3rem
        color: #ffffff
        font-size: 1.1rem
        font-weight: bold
        background-color: #18D100
        border-top-right-radius: 25px
        border-bottom-right-radius: 25px
        border: none

    #result
      ul
        padding: 0
        margin: 0
        display: flex
        justify-content: space-around
        li
          cursor: pointer
          padding: 1rem
          margin: 0
          width: 100%
          display: block
          font-weight: bold
          list-style: none
          text-align: center
          background-color: #002671
          &:nth-child(1)
            border-top-left-radius: 3px
          &:nth-child(3)
            border-top-right-radius: 3px
          &.active
            background-color: #000000
      textarea
        display: none
        color: #ffffff
        background-color: #000000
        border-radius: 3px
        border: none
        width: 100%
        height: 20rem
        font-size: 1rem
        padding: 3rem
        &.active
          display: block
      table
        display: none
        border-collapse: collapse
        border-radius: 3px
        line-height: 1.5
        margin: 1rem 0
        background-color: #000000
        padding: 3rem
        &.active
          display: block
        tr
          th,td
            border: solid 1px #cccccc
            font-size: 1.5rem
            padding: 1rem

    #description
      h3
        margin-top: 5rem
        img
          height: 30px
      hr
        width: 41px
        height: 1px
        color: #ffffff
        margin: 0.5rem 0 1rem
      p
        font-weight: bold
        span
          font-weight: 900
    
    .poweredby
      text-align: center
      margin: 5rem
      img
        width: 204px
