doctype html
html(lang="js")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Reform - Making the Google Forms pre-fill feature useful 
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://use.typekit.net/oix0zzk.css")
    link(rel="stylesheet", href="../index.css")
    link(rel="alternate" href="https://reform.calil.dev/en/" hreflang="en-US")
    link(rel="alternate" href="https://reform.calil.dev" hreflang="ja-JP")
    link(rel="alternate" href="https://reform.calil.dev" hreflang="x-default")
    meta(name="description" content="Making the Google Forms pre-fill feature useful.")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="Reform")
    meta(property="og:locale" content="ja_JP")
    meta(meta="" property="og:type" content="website")
    meta(property="og:description" content="Making the Google Forms pre-fill feature useful.")
    meta(property="og:title" content="Reform")
    meta(property="og:url" content="https://reform.calil.dev")
    meta(property="og:image" content="https://reform.calil.dev/assets/image_en.png")
    meta(name="keywords" content="Google Forms,Web,html,translation,tool")
    meta(property="fb:app_id" content="270660792981320")
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-32412597-11")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-32412597-11');
  body
    main
      article
        img.logo(src="../assets/logo.svg", alt="")
        h1 Reform
        h2 Making the Google Forms pre-fill feature useful 
        form(action="")
          input(type="text" name="" placeholder="Enter your Google Form URL" required="" pattern="https://docs.google.com.*?(viewform|edit).*?")
          progress(value="0", max="100")
          button Reform
        #result
        #description
          h3 About Reform
          hr
          p
            | Google Forms can pass parameters externally through the pre-fill feature.<br />
            | To take advantage of this feature, you need to look up the field IDs, and this tool automatically extracts the field IDs and converts them into generic HTML.<br />
            | You can use the field IDs to dynamically generate URLs for federations and place forms of any design you want.
          h3 How to use
          hr
          p Paste the URL of the Google Form and then press the "Reform" button.
          h3 History
          hr
          p
            span 2020.8.7
            | release
        .poweredby
          a(href="https://calil.jp", title="カーリル")
            img(src="../assets/calil.svg", alt="Powered by カーリル")
    nav.side
      div
          a(href="https://calil.jp") Powered by CALIL Inc.
      div 
          a(href="javascript:window.scrollTo({top: 0, behavior: 'smooth'});") BACK TO TOP
    script(src="../js/index.js")
