doctype html
html(lang="js")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Reform - Googleフォームを自由に
    meta(name="viewport" content="width=device-width,initial-scale=1")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="index.css")
    link(rel="alternate" href="https://reform.calil.dev/en/" hreflang="en-US")
    link(rel="alternate" href="https://reform.calil.dev" hreflang="ja-JP")
    link(rel="alternate" href="https://reform.calil.dev" hreflang="x-default")
    meta(name="description" content="Googleフォームを自由に。")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="Reform")
    meta(property="og:locale" content="ja_JP")
    meta(meta="" property="og:type" content="website")
    meta(property="og:description" content="Googleフォームを自由に。")
    meta(property="og:title" content="Reform")
    meta(property="og:url" content="https://reform.calil.dev")
    meta(property="og:image" content="https://reform.calil.dev/assets/image_ja.png")
    meta(name="keywords" content="Googleフォーム,Web,html,変換")
    meta(property="fb:app_id" content="270660792981320")
  body
    style.
      .englishNavigation {
        display: none;
        padding: 1rem;
        font-size: 2rem;
        text-align: center;
        background-color: #ffffff;
      }
      .englishNavigation a {
        color: #00349B;
        font-weight: bold;
      }
    .englishNavigation
      | Welcome to Reform.
      br
      a(href="./en/") Click here
      |  to view English website.
    script.
      const language = (window.navigator.languages && window.navigator.languages[0]) ||
            window.navigator.language ||
            window.navigator.userLanguage ||
            window.navigator.browserLanguage;
      if (language !== 'ja') document.querySelector('.englishNavigation').style.display = 'block';
    main
      article
        img.logo(src="./assets/logo.svg", alt="")
        h1
          img(src="./assets/reform.svg", alt="Reform")
        h2 
          a(href="https://docs.google.com/forms/u/0/", target="_blank") Googleフォーム
          | を自由に
        form(action="")
          input(type="text" name="" placeholder="GoogleフォームのURLを入力" required="" pattern="^https://docs.google.com.*?(viewform|edit)")
          progress(value="0", max="100")
          button Reform
        #result
        #description
          h3
            img(src="./assets/about.svg", alt="About Reform")
          hr
          p
            | Googleフォームの連携機能により、ウェブサイトとフォームをシームレスにつなぐことができます。<br />
            | 連携するには、フィールドIDを調べる必要がありますが、このツールを使うと自動的にフィールドIDを抽出して、一般的なHTMLに変換できます。
          h3
            img(src="./assets/howtouse.svg", alt="How to use")
          hr
          p GoogleフォームのURLをペーストしてから、「Reform」ボタンを押してください。
          h3
            img(src="./assets/history.svg", alt="History")
          hr
          p
            span 2020.8.7
            | 公開
        .poweredby
          a(href="https://calil.jp", title="カーリル")
            img(src="./assets/calil.svg", alt="Powered by カーリル")
    nav.side
      div
          a(href="https://calil.jp") Powered by Calil inc.
      div 
          a(href="javascript:window.scrollTo({top: 0, behavior: 'smooth'});") BACK TO TOP
    script(src="./js/index.js")
